@media (prefers-reduced-motion: no-preference)? {
	* {
		scroll-behaviour: smooth;
	}
}

body {
	font-family: Helvetica;
	margin: 0;
}

header {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url('https://img4.gelbooru.com//samples/25/4b/sample_254b8fbc986f41c3312766df6cffe716.jpg');	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
}

#logo {
	width: max(3vw, 3rem);
	background-color: #0a0a45;
	padding: 3.7px;
}

h1 {
	color: #aa00ff;
}

h1 > span {
	background: linear-gradient(to right, maroon, #d212d5);
	background-clip: text;
	color: transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

nav {
	height: 50px;
	width: max(30vw, 200px);
}

nav > ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
}

nav > ul > li {
	color: #ee3366;
	margin: 0 0.8;
	padding: 0.4rem;
	display: block;
}

nav > ul > li: hover {
	color: #1122dd;
	text-shadow: 2px 2px 0px #fff
}

li > a {
	color: inherit;
	text-decoration: none;
}

main {
	padding: 40px;
	margin: 0;
	background-image: url('https://img4.gelbooru.com/images/e4/4e/e44ed39594aefcc80b723a6fff7ba36e.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100vh;
	height: 100%;
	color: cyan;
}

.topic{
	width: 80%;
	margin: 50px auto;
	max-width: 1200px;
}

h1, h2 {
	font-family: Verdana, Tahoma;
}

h3 {
	font-family: Palatino;
}

footer{
	margin: 0;
	text-align: center;
	background-image: url('https://img4.gelbooru.com/images/17/a5/17a520c065adc4924505de90163f0769.jpg');	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	top: 0;
}
