* {
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: rgba(200,100,150,0.5);
	color: maroon;
}

body {
	height: 100%;
	font-family: tahoma, sans-serif;
	line-height: 1.6;
	background-image: url('https://img4.gelbooru.com/images/04/80/0480cc6868e05c4556d8a275886e9db9.jpg');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #333;
	color: #333;
}

header {
	background-color: rgba(78,62,200,0.5);
	color: white;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

nav h1 {
	font-size: 24px;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 15px;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.nav-links li a:hover {
	color: rgba(200,200,200,0.9);
	text-decoration: underline;
}

.hero {
	text-align: center;
	background-color: rgba(150,54,123,0.5);
	padding: 20px 7px;
}

.hero h2 {
	font-size: 2.5em;
	margin-bottom: 5px;
	color: cyan;
}

.hero p {
	font-size: 1.25em;
	color: pink;
}

main {
	max-width: 80%;
	margin: auto;
	padding: 20px;
	background-color: rgba(150,150,200,0.4);
	border-radius: 12px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.2);
	text-align: justify;
}

main section {
	border-bottom: 5px dotted maroon;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

main section:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

main section h2 {
	text-decoration: underline;
}

#intro h2 {
	margin: 0 0 0 2.1em;
}

#intro .content {
	display: flex;
	align-items: center;
	gap: 25px;
}

#intro .content img {
	width: auto;
	height: 50vh;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

#intro .content .right-side {
	flex: 1;
}

#intro .content blockquote {
	padding-top: 2.5em;
}

#struct p {
	padding: 0 2em;
}

#facts ul {
	padding: 0 2em;
	list-style: square inside;
}

blockquote {
	font-family: 'Times new Roman', sans-serif;
	font-weight: bold;
	padding: 0 2.5em;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: rgba(60,150,123, 0.5);
	color: #bbbbbbb;
	border-radius: 12px;
}

footer h3 {
	font-size: 1.2em;
	color: #eeee00;
}

footer p {
	text-decoration: underline;
}

footer p a {
	color: inherit;
	font-weight: bold;
}
