* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: rgba(255,255,255,0.5);
	color: #333;
}

body {
	height: 100%;
	line-height: 1.6;
	font-family: tahoma, sans-serif;
	background-image: url('https://drunkpink.github.io/miscellaneous/images/landscape-scenery-forest-mountain-plain.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-color: #eee;
	color: #efe;
}

header {
	background-color: rgba(150,200,100,0.8);
	color: white;
}

nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

nav h1 {
	font-size: 1.8em;
}

.nav-links  {
	list-style: none;
	display: flex;
	gap: 15px;
}

.nav-links li  a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: color: 0.3s ease, text-decoration 0.3s ease;
}

.nav-links li a:hover {
	color: rgba(0,0,0,0.9);
	text-decoration: underline;
}

.hero {
	text-align: center;
	background-color: rgba(50,50,50,0.5);
	padding: 20px 0;
}

.hero h2 {
	font-size: 2.7em;
	color: orange;
	margin-bottom: 5px;
}

.hero p {
	font-size: 1.5em;
	color: cyan;
}

#main {
	max-width: 80%;
	margin: auto;
	padding: 20px;
	text-align: justify;
	background-color: rgba(50,50,50,0.7);
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

#main h2 {
	font-size: 2rem;
	text-align:center;
	padding-bottom: 0.5em;
}

#main h3 {
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 0.4em;
	text-decoration: underline;
	text-decoration-style: dotted;
}

#main h4 {
	font-size: 1.2rem;
	text-align: center;
	padding-bottom: 0.4em;
}

#main ul {
	margin-bottom: 1em;
}

#main ul li {
	list-style-type: none;
	margin-left: 1.5em;
	margin-bottom: 0.4em;
}

#main ul li span {
	font-weight: bold;
}

#main section {
	border-bottom: 10px dotted green;
	padding-bottom: 25px;
	margin-bottom: 30px ;
}

#main section p {
	text-indent: 2em;
	margin-bottom: 1em;
}

#main section:last-of-type {
	border: none;
	margin: 0;
}

.content {
	display: flex;
	flex-wrap: flex;
	gap: 0.2rem;
}

.content .part {
	flex: 1 1 50%;
	padding: 0 1em 0 1.2em;
	border-left: 0.5em dotted green;
}

.content .part:first-of-type {
	border: 0;
}

#intro .divider {
	border: 5px solid green;
}

#intro .content {
	align-items: center;
	gap: 2rem;
}

#intro .content h2 {
	padding-bottom: 2em;
}

#intro .content .left {
	flex: 1 1 70%;
	max-width: 70%;
}

#intro .content .left blockquote {
	font-family: 'New Times Roman', Times, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

#intro .content img {
	flex: 1 1 30%;
	height: auto;
	max-width: 30%	;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0,255,0,0.7);
}

#quotes blockquote{
	min-width: 25%;
}
