body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url('https://drunkpink.github.io/miscellaneous/images/pixel-art-gif-weapon-sword-flower-butterfly-water-floatingland.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top; /* or center center */
    background-attachment: fixed;   /* default: scrolls with page */ /* or use scroll */
    min-height: 100vh;
    color: #00bbbb;
    font-family: Tahoma;
    font-size: 16px;
}

h1,
p {
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
